@import "./Sass/Utils/variables";
@import "./Sass/Layout/layout.scss";
@import "./Sass/Base/base";


.form {
  text-align: center;
  background-color: $grey;
  padding: 15px;

  input {
    text-align: center;
    background-color: $grey;
    border-width: 0;
  }
}

#lieu::placeholder {
  color: #343535;
}

.cadre-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightgrey;
  padding-bottom: 20px;
  font-family: 'Roboto', 'sans-serif';

  h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;

    p {
      text-align: center;
      font-weight: lighter;
    }
  }
}

.cadre-fonctionnement h1 {
  margin-left: 25px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titre-restaurants{
  font-family: 'Roboto', 'sans-serif';
  h1{
    margin-top: 70px;
    font-size: 25px;
    font-weight: 500;
  }
}

.loader-background {
  position: fixed;
  background-color: white;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.9;
  animation: hide 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes hide {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  border: 16px solid lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top-color: $purple;
  border-bottom-color: $greenlinecolor;
  border-left-color: $lightpurple;
  animation: loader 3s linear infinite;
  animation-duration: 0.6s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: $lightpurple;
    border-bottom-color: $purple;
    border-left-color: $greenlinecolor;
  }

  25% {
    border-top-color: $greenlinecolor;
    border-bottom-color: $lightpurple;
    border-left-color: $purple;
  }

  50% {
    transform: rotate(360deg) scale(1);
    border-top-color: $purple;
    border-bottom-color: $greenlinecolor;
    border-left-color: $lightpurple;
  }

  75% {
    border-top-color: $lightpurple;
    border-bottom-color: $greenlinecolor;
    border-left-color: $purple;
  }

  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: $lightpurple;
    border-bottom-color: $greenlinecolor;
    border-left-color: $purple;
  }

}


.step-container {
  display: flex;
  flex-direction: row;
  gap: 1px;

}

.number-round {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  ol {
    position: absolute;
    background-color: $purple;
    border: 1px solid $purple;
    color: white;
    border-radius: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    left: -10px;
  }
}

.text-btn1{
  margin-left: 0px;
}


.text-btn2{
  margin-left: 20px;
}

.text-btn3{
  margin-left: 20px;
  margin-right: 10px;
}


li {
  list-style: none;
}

.step-choice {
  display: flex;
  flex-direction: row;
}



h1 {
  margin-left: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carte-container {
  margin-left: 20px;
  margin-right: 20px;

}

.carte {
  position: relative;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.new {
  position: absolute;
  top: 15px;
  right: 12px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  border: none;
}

.titre h3 {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.prix p {
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 15px;
}


.fa-heart {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 30px;
  transition: width 2s, height 2s, background-color 2s, transform 1.5s, font-size 2s;
}

.description .fa-heart:hover {
  transform: rotate(360deg);
  background: rgb(163, 92, 220);
  background: linear-gradient(180deg, rgba(163, 92, 220, 1) 0%, rgba(224, 111, 218, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}

.image-carte {
  display: flex;
  flex-direction: column;

  img {
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.note {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

// palette.html
body {
  position: relative;
}

.palette-logo {
  position: relative;
  align-items: center;
  .fa-arrow-left {
    position: fixed;
    left: 15px;
    top: 23px;
    cursor: pointer;
  }

}

.palette-img {
  width: 100%;
  position: relative;
  height: 230px;
  object-fit: cover;
}

.logo-position-palette{
  justify-content: center;
  border: 1px solid black;
}

.menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  top: 250px;
  width: 100%;
  background-color: $menugreycolor;
}


.intro-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
  align-items: baseline;
}

.menu-titre {
  margin-top: 10px;
  margin-left: 10px;

  h1 {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-style: italic;
    color: #2d2d2d;
    margin-left: 5px;
  }
}

h5 {
  margin-left: 15px;
  margin-bottom: 5px;
  font-weight: 300;

}

.green-line {
  width: 30px;
  border: 1.5px solid $greenlinecolor;
  margin-left: 15px;
  margin-bottom: 15px;
}

.fa-heart {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 30px;
  transition: width 2s, height 2s, background-color 2s, transform 1.5s, font-size 2s;
}


.coeur .fa-heart:hover {
  transform: rotate(360deg);
  background: rgb(163, 92, 220);
  background: linear-gradient(180deg, rgba(163, 92, 220, 1) 0%, rgba(224, 111, 218, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}


.titre-accompagnement-prix-palette {
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  animation: animationmenu 0.9s;
  animation-fill-mode: both;
  @include border-color-menu-step();
  @include box-shadow();
  &:hover .prix-palette-1{
    animation-name: translate-check;
    animation-duration: 0.3s;
    animation-iteration-count: 0.1s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

  }
  &:hover .fa-circle-check {
    animation-name: spincheck;
  animation-duration: 300ms;
  animation-delay: 0.2s;
  animation-iteration-count: 4s;
  animation-timing-function: linear; 
  }
}

@keyframes translate-check {
  from {
      transform:translate(0px);
  }
  to {
      transform:translate(-60px);
  }
}


@keyframes spincheck {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@mixin h3-border-marge-font {
  font-weight: 500;
  margin-bottom: 2px;
  margin-top: 10px;
  padding: 2px;
}

.titre-palette {
  margin-left: 10px;

  h4 {
    @include h3-border-marge-font();
  }
}


.prix-palette-1 {
  position: relative;
}

.check{
  position: absolute;
  top: -35px;
  left: 40px;
  background-color: $greenlinecolor;
  width: 62px;
  height: 62px; 
}

.fa-circle-check{
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  margin-top: 24px;
  margin-left: 24px;
}



@keyframes animationmenu {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@mixin position-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}

.prix-accompagnement-palette {
  @include position-menu();
  p {
    @include marge-menu();
    @include p-border-marge-font();
  }

}

.command-btn{
  display: flex;
  justify-content: center;
}

.palette{
  margin-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
}


@media all and (min-width: 1024px) and (max-width: 2560px) {

  .btn-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }


}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

}
























/*# sourceMappingURL=_index.css.map */