.btn-intro {
  background: linear-gradient(to left, #9356DC, #FF79DA);
  color: white;
  padding: 15px;
  border-radius: 25px;
  border-width: 0;
  font-weight: bolder;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-mobile-screen-button {
  margin-right: 20px;
  margin-left: 0px;
  color: grey;
}

.fa-list-ul {
  color: grey;
}

.fa-store {
  color: grey;
}

.btn1 {
  padding-right: 65px;
  padding-left: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: baseline;
  border-width: 0;
  border-radius: 10px;
  background-color: #F8F9F9;
}

.btn3 {
  padding-right: 65px;
  padding-left: 30px;
  display: flex;
  align-items: baseline;
  border-width: 0;
  border-radius: 10px;
  background-color: #F8F9F9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.btn2 {
  padding-right: 80px;
  padding-left: 30px;
  display: flex;
  align-items: baseline;
  border-width: 0;
  border-radius: 10px;
  background-color: #F8F9F9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.prix-accompagnement-palette {
  display: flex;
  flex-direction: row;
  gap: 165px;
}
.prix-accompagnement-palette p {
  margin-left: 10px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  margin-right: 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #343535;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 30px;
}
footer h2 {
  padding-top: 10px;
  margin-left: 25px;
  font-family: "shrikhand";
  color: white;
}
footer h4 {
  color: white;
  margin-left: 25px;
  padding-bottom: 0px;
  margin-bottom: 1px;
  margin-top: 10px;
}
footer .fa-solid {
  margin-right: 15px;
}
footer .fa-handshake-angle {
  margin-right: 10px;
}

.contact {
  padding-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.form {
  text-align: center;
  background-color: #EEEEEE;
  padding: 15px;
}
.form input {
  text-align: center;
  background-color: #EEEEEE;
  border-width: 0;
}

#lieu::placeholder {
  color: #343535;
}

.cadre-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F9F9;
  padding-bottom: 20px;
  font-family: "Roboto", "sans-serif";
}
.cadre-presentation h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}
.cadre-presentation h1 p {
  text-align: center;
  font-weight: lighter;
}

.cadre-fonctionnement h1 {
  margin-left: 25px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loader-background {
  position: fixed;
  background-color: white;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.9;
  animation: hide 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  border: 16px solid lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #99e2cf;
  border-left-color: #FF79DA;
  animation: loader 3s linear infinite;
  animation-duration: 0.6s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    border-left-color: #99e2cf;
  }
  25% {
    border-top-color: #99e2cf;
    border-bottom-color: #FF79DA;
    border-left-color: #9356DC;
  }
  50% {
    transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #99e2cf;
    border-left-color: #FF79DA;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #99e2cf;
    border-left-color: #9356DC;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #99e2cf;
    border-left-color: #9356DC;
  }
}
.step-container {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.number-round {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.number-round ol {
  position: absolute;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  border-radius: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  left: -10px;
}

.text-btn1 {
  margin-left: 0px;
}

.text-btn2 {
  margin-left: 20px;
}

.text-btn3 {
  margin-left: 20px;
  margin-right: 10px;
}

li {
  list-style: none;
}

.step-choice {
  display: flex;
  flex-direction: row;
}

h1 {
  margin-left: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carte-container {
  margin-left: 20px;
  margin-right: 20px;
}

.carte {
  position: relative;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.new {
  position: absolute;
  top: 15px;
  right: 12px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  border: none;
}

.titre h3 {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.prix p {
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.fa-heart {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 30px;
  transition: width 2s, height 2s, background-color 2s, transform 1.5s, font-size 2s;
}

.description .fa-heart:hover {
  transform: rotate(360deg);
  background: rgb(163, 92, 220);
  background: linear-gradient(180deg, rgb(163, 92, 220) 0%, rgb(224, 111, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}

.image-carte {
  display: flex;
  flex-direction: column;
}
.image-carte img {
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.note {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

body {
  position: relative;
}

.palette-logo {
  position: relative;
  align-items: center;
}
.palette-logo .fa-arrow-left {
  position: fixed;
  left: 15px;
  top: 23px;
  cursor: pointer;
}

.palette-img {
  width: 100%;
  position: relative;
}

.logo-position-palette {
  justify-content: center;
  border: 1px solid black;
}

.menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  top: 235px;
  width: 100%;
  background-color: #f7f7f7;
}

.intro-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
  align-items: baseline;
}

.menu-titre {
  margin-top: 10px;
  margin-left: 10px;
}
.menu-titre h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  color: #2d2d2d;
  margin-left: 5px;
}

h5 {
  margin-left: 15px;
  margin-bottom: 5px;
  font-weight: 300;
}

.green-line {
  width: 30px;
  border: 1.5px solid #99e2cf;
  margin-left: 15px;
  margin-bottom: 15px;
}

.fa-heart {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 30px;
  transition: width 2s, height 2s, background-color 2s, transform 1.5s, font-size 2s;
}

.coeur .fa-heart:hover {
  transform: rotate(360deg);
  background: rgb(163, 92, 220);
  background: linear-gradient(180deg, rgb(163, 92, 220) 0%, rgb(224, 111, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}

.titre-accompagnement-prix-palette {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  animation: animationmenu 0.9s;
  animation-fill-mode: both;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.titre-accompagnement-prix-palette:nth-child(1) {
  animation-delay: 100ms;
}
.titre-accompagnement-prix-palette:nth-child(2) {
  animation-delay: 200ms;
}
.titre-accompagnement-prix-palette:nth-child(3) {
  animation-delay: 300ms;
}
.titre-accompagnement-prix-palette:nth-child(4) {
  animation-delay: 400ms;
}
.titre-accompagnement-prix-palette:nth-child(5) {
  animation-delay: 500ms;
}
.titre-accompagnement-prix-palette:nth-child(6) {
  animation-delay: 600ms;
}
.titre-accompagnement-prix-palette:hover .check {
  translate: -60px;
  transition-delay: 3s;
}
.titre-accompagnement-prix-palette:hover .prix-accompagnement-palette p {
  translate: -60px;
  transition-delay: 3s;
  animation-fill-mode: forwards;
}

.titre-palette {
  margin-left: 10px;
}
.titre-palette h4 {
  font-weight: 500;
  margin-bottom: 2px;
  margin-top: 10px;
  padding: 2px;
}

.prix-palette-1 {
  position: relative;
}

.check {
  position: absolute;
  top: -35px;
  left: 40px;
  background-color: #99e2cf;
  width: 62px;
  height: 62px;
}

@keyframes animationmenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.prix-accompagnement-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
.prix-accompagnement-palette p {
  margin-left: 10px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  margin-right: 10px;
}

.command-btn {
  display: flex;
  justify-content: center;
}

.palette {
  margin-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  .btn-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
/*# sourceMappingURL=_index.css.map */

/*# sourceMappingURL=_index.css.map */
